<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Nitpicker"/>
		<service name="Audio_out"/>
		<service name="File_system"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<start name="nit_fb">
		<resource name="RAM" quantum="16M"/>
		<provides> <service name="Framebuffer"/> <service name="Input"/> </provides>
		<config xpos="64" ypos="64" initial_width="960" initial_height="540"/>
		<route>
			<service name="Nitpicker"> <parent/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="avplay" caps="2500">
		<resource name="RAM" quantum="256M"/>
		<config>
			<arg value="avplay"/>
			<arg value="/media/videofile"/>
			<vfs>
				<dir name="dev">
					<log/>
					<inline name="rtc">2018-06-01 00:00</inline>
				</dir>
				<dir name="media"> <fs label="media"/> </dir>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc"/>
		</config>
		<route>
			<service name="File_system" label="media"> <parent label="target"/> </service>
			<service name="Framebuffer"> <child name="nit_fb"/> </service>
			<service name="Input">       <child name="nit_fb"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>
</config>
